PORT=5000
NODE_ENV=development
# For local MongoDB: mongodb://127.0.0.1:27017/skillproof
# For MongoDB Atlas: mongodb+srv://<username>:<password>@cluster0.mongodb.net/skillproof?retryWrites=true&w=majority
MONGODB_URI=mongodb://127.0.0.1:27017/skillproof
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=30d
CLIENT_URL=http://localhost:5173
